.body {
    width: 100%;
    padding: 1em;
}

.title {
    text-align: center;
    font-size: 5em;
    font-weight: 700;
    padding: 0.25em;
    text-wrap: nowrap;
}

.blue {
    color: rgb(70, 70, 255)
}

.gold {
    color: gold;
}

.canvasWrapper {
    margin: 0.5rem;
    padding: 2rem 2rem;
    text-align: center;
}

.canvas {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.canvas:hover {
    cursor: pointer;
}

.colorPicker {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    float: right;
}
  